%section.user.container
  .row
    .span10.offset1
      %article
        %header
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")
            %h2 #{@user.full_name}'s video collections (#{@user.queue_items.count})
            - unless @user == current_user
              = link_to 'Follow', relationships_path(leader_id: @user.id),
                        method: :post, class: 'btn' unless current_user.following?(@user)
              = link_to 'Unfollow', relationship_path(current_user.relationship_id(@user)),
                        method: :delete, class: 'btn' if current_user.following?(@user)

        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |queue_item|
              %tr
                %td
                  = link_to queue_item.video.title, queue_item.video
                %td
                  - queue_item.video.categories.each do |category|
                    = link_to category.title, category

%section.user_reviews.container
  .row
    .span10.offset1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.reviews.count})
      %ul
        - @user.reviews.each do |review|
          %article.review
            %li.row
              .span2
                %p
                  = link_to review.video.title, review.video
                %span Rating: #{review.rating} / 5
              .span8
                %p= review.body
